@import "tailwindcss";


/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@utility autofill-custom {
  @apply autofill:bg-gray-100 autofill:text-black dark:autofill:bg-gray-800 dark:autofill:text-gray-100;
}

/* Ensure autofill styles match light and dark modes */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover, 
.dark input:-webkit-autofill:focus, 
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #374151 inset !important; /* bg-gray-700 */
  -webkit-text-fill-color: #f3f4f6 !important; /* text-gray-100 */
  transition: background-color 5000s ease-in-out 0s;
}

